## 1

*       its an expression because its an operator 
'hello' its an value because its an string
-87.8   its an value because its an integer 
-       its an expression because its an operator
/       its an expression because its an operator
+       its an expression because its an operator 
6       its an value because its an integer

# 2

STRING :
    it is enclosed  with '' or " " or '''' '''.
    it is an array of immutable data.
    we can access the strings by both positive and negative indxing.
VARIABLE:
    it acts like a container to store the data.
    its going to activate when we adds an assignment operator =
    it can be represented with 0-1 digits and A-Z and a-z alphabets without including any special symbols
    _ are not used at the starting of a variable

# 3

The three different data types are :
  1.Numeric - integer - it includes 0-9 and includes negative values 
              float   - its includes all the decimal values.
              complex - it is a combination of both real and imagiary numbers
  2. STRINGS  -  it is enclosed  with '' or " " or '''' '''.
                 it is an array of immutable data.
  2. SEQUENCE - list - it is enclosed with [] braces 
                dictonary - it is enclosed with {KEY : VALUE } 
                tuple -it is enclosed with ()

# 4

An expression is made up of combination of operators and operands with assignment operators included.
expressions are mainly used for the mathematical operations , for evaluating the problems.

# 5

expressions goes on dealing with logical evaluation  with variables and values, whereas statements represents the comands processing. if you can print or assign it to a variable its a expression , or else its a statement

# 6

Bacon contains 23


# 7

spamspamspam
spam
spam
spam

# 8

eggs is a valid variable as it starts with the lower case alpahet with no special symbols and underscore at first,
while 100 is invalid as direct integers are not considerd as variables.


# 9

int(), float(), str()


# 10

 in this line 'I have eaten' and 'burritos' are strings, while 99 is integer. to fix the error and print 'I have eaten 99 burritos.', 99 needs '' around it to treat it as a string.